<h2 class="m-4 row d-flex justify-content-between">
  <span>Your Events</span>
  <button mat-raised-button (click)="closeDialog()">Close</button>
</h2>
<div >

<mat-card (click)="openEditEventDialog(event.id)"
          *ngFor="let event of day.events"
          class="m-4 pointer" [style.backgroundColor]="event.color">
  <mat-card-header>
    <mat-card-title [style.backgroundColor]="'white'">{{ event.description }}</mat-card-title>
    <mat-card-subtitle [style.backgroundColor]="'white'">{{ event.date | date }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>





