$color:  grey;
$color-primary: #3f51b5;
$color-accent: #ff4081;

mat-grid-tile{
  background-color: white;
  grid-template-rows: 200px auto;
  overflow: auto;
  border-bottom-right-radius: 10px;
}

mat-grid-tile:hover{
  background-color: #c6cecf;
}

::-webkit-scrollbar{
  //height: 1px;
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: $color-primary;
  border-radius: 3px;
}

.days-grid-list-mobile{
  //background-color: rgb(250, 242, 242);
  background-color: $color-primary;
  min-height:  50vh;
  grid-template-rows: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.days-grid-list-desktop{
  background-color: $color-primary;
  min-height: 65vh;
  grid-template-rows: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}


.day-name{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: $color-primary;
  color: white;
  border-radius: 5px;

  div{

    span{
      font-size: 15px;
    }
  }
}

.sunday{
  background-color: $color-accent;

  border-top-left-radius: 10px;
  /*border-top-right-radius
  border-bottom-right-radius
  border-bottom-left-radius*/
}

.saturday{
  background-color: $color-accent;

  border-top-right-radius: 10px;
  /*border-top-left-radius
  border-bottom-right-radius
  border-bottom-left-radius*/
}

.today-name{
  font-weight: bolder;
}

.empty-day{

}

.today{
  //background-color: rgb(195, 213, 252);
  font-weight: bolder;

  .date-number{
    background-color: $color-accent;
    border-radius: 30px;
    padding-right: 5px;
  }
}

.event-list{

  padding-bottom: 10px;
  padding-left: 25px;
  width: inherit;
  padding-right: 10px;

  div{
    word-wrap: break-word;
  }
}

.mat-grid-contents{
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.mat-grid-tile-content {
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  width: 100%;
  //border: 2px solid $color;

}

.date-number{
 align-self: self-start;
}

.more-events-dots{
  font-weight: bolder;
  color: $color-primary;
}





