
<mat-sidenav-container fullscreen>
  <mat-sidenav align="start" #sidenav>
      <mat-nav-list (click)="sidenav.close()">

        <a mat-list-item routerLink="calendar" *ngIf="!calendarOpened" (click)="openOrCloseCalendar()">
          <mat-icon>calendar_today</mat-icon>
          Calendar
        </a>
      </mat-nav-list>
  </mat-sidenav>

<mat-toolbar color="primary">
    <mat-icon class="menu-button pointer mr-3" (click)="sidenav.open()">menu</mat-icon>
    <button mat-raised-button *ngIf="!calendarOpened" color="accent" routerLink="calendar" (click)="openOrCloseCalendar()">Open Calendar</button>
    <button mat-raised-button *ngIf="calendarOpened" color="accent" routerLink="/"  (click)="openOrCloseCalendar()">Close Calendar</button>
</mat-toolbar>

<router-outlet></router-outlet>

</mat-sidenav-container>
