
<div class="calendar-header d-flex justify-content-between">
  <mat-form-field appearance="outline" class="year-list ml-4 mt-3">
    <mat-select [(value)]="selectedYear"  placeholder="Select the year" (selectionChange)="getMonthAndYear(null, selectedYear);">
      <mat-option *ngFor="let year of years" [value]="year">
        {{ year }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="text-right mr-4 mt-3">

    <button mat-fab color="primary" class="mt-1" (click)="openCreateEventDialog()">
      <mat-icon >add</mat-icon>
    </button>
    <span class="ml-2 mb-4 add-event-text">Add Event</span>
  </div>
</div>

<div class="header-calendar ml-4 mr-4 d-flex justify-content-center">

    <button mat-mini-fab color="primary"  (click)="getMonthAndYear(-1, null);" class="btn-btn-prev mr-3" [disabled]="selectedMonth === 0">
      <mat-icon >navigate_before</mat-icon>
    </button>

    <h1 class="ml-4 mr-4">{{selectedMonthName}} {{selectedYear}}</h1>


    <button mat-mini-fab  (click)="getMonthAndYear(1, null);" class="btn-btn-next" [disabled]="selectedMonth === 11">
      <mat-icon >navigate_next</mat-icon>
    </button>

</div>


<app-month></app-month>


